
.container{

    
    
    background-color: cornflowerblue;
    width: 900px;
    height: 900px;
    border-radius: 1.5rem;
    position: relative;


}
input{
   
   display: flex;
   flex-direction: column;
   margin: 4rem;
   padding: 1rem;
   margin-left: 21.5rem;
   

   
   

   
}
button{

    color: rgb(194, 105, 249);
}
